*{
	font-family: "微软雅黑";
}

#firstScreen{
	background-image: url(../img/4.png);
}

.container0{
	width: 1200px;
	margin: 0 auto;
	padding-top:450px ;
	box-sizing: border-box;
	margin-top: -100px;
}
.a{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

.b{
	width: 100%;
	text-align: center;
}

.nav{
	height: 45px;
	width: 360px;
	margin-top: 45px;
	margin-left: 350px;
	box-sizing: border-box;
}


.notice{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: 500;
	border-left: 1px solid black;
	padding-left: 18px;
	margin-left: 18px;
	margin-top: 19px;

}

.logo{
	display: inline-block;
	float: left;
}

.page-one{
	width: 100%;
	height: 720px;
	background-color: rgb(247,247,247);
	background-image: url(../img/8.png);
	background-repeat: no-repeat;
}

.container1{
	width: 1200px;
	margin: 0 auto;
	height: 820px;
	background-image: url(../img/7.png);
	background-repeat:no-repeat ;
	background-position: right 580px;
	overflow: hidden;
}

.page-two{
	width: 100%;
	height: 214px;
	background-image: url(../img/9.png);
}

.page-left0{
	width: 222px;
	height: 112px;
	margin-top: 120px;
	float: left;
}

.border-top{
	width: 70px;
	height:107px;
	border-top: 3px solid #ccc;
	float: left;
}

.border-bottom{
	width: 70px;
	height: 107px;
	border-bottom: 3px solid #ccc;
	float: left;
}

.content0{
	float: left;
}

.content0 h5{
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: 500;
}

.content0 p{
	color: #CCCCCC;
	text-align: center;
	margin-top: -15px;
	box-sizing: border-box;
}

.page-right0{
	width: 705px;
	height:100%;
	/*margin-left: 500px;*/
	float: right;
}

.list-tab{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 30px;
}

.list{
	display: inline-block;
	background-color: rgb(230,231,239);
	height: 36px;
	line-height: 36px;
	width: 90px;
	text-align: center;
	font-size: 17px;
	margin-left: 11px;
	cursor: pointer;
}

.long{
	width: 174px;
}

.first{
	margin-left: 0;
}

.bot{
	width: 0;
	height: 0;
	border-left: 8px solid rgb(247,247,247);
	border-top: /*8px rgb(80,93,169) solid;*/8px rgb(247,247,247) solid;
	border-right: 8px solid rgb(247,247,247);
	background-color: rgb(230,231,239);	
	cursor: pointer;
}

.main-box ol{
	list-style: none;
}

.page-content ol{
	margin: 0;
	padding: 0;
}

.page-content{
	width: 100%;
}

.main-box{
	width: 100%;
}

.main-box-top,.main-box-bottom{
	width: 100%;
	height: 105px;
}
.main-box-middle{
	width: 100%;
	height: 135px;
}

.main-box-nav{
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #000;
	margin: 20px 0px;
}

.folder{
	background-image: url(../img/folder.png);
	background-repeat: no-repeat;
	background-position-y: 10px;
}
.material{
	background-image: url(../img/material.png);
	background-repeat: no-repeat;
	background-position-y: 11px;
}
.trait{
	background-image: url(../img/trait.png);
	background-repeat: no-repeat;
	background-position-y: 10px;
}

.main-box-nav b{
	margin-left: 18px;
}

.li_long{
	width: 705px !important;
}

.main-box li{
	display: inline-block;
	width: 337px;
	margin: 5px 0px;
}

.btn-default{
	display: inline-block;
	width: 200px;
	height: 45px;
	line-height: 45px;
	background-color: rgb(80,93,169);
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
	text-decoration: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
